<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sandji V2</title>
</head>
<body>
  <div id="wrapper">
    <app-header></app-header>
  </div>
    <div class="content">
      <!-- Add your content here -->
      <h2>Page d'accueil</h2>
      <p>Bienvenue sur l'application Sandji de Mali Meteo ! Cette application permet de faire la saisie et le traitement de données pluviométriques.</p>
      <button type="button" roul>Saisie Journalière</button>
      <button type="button">Saisie Décaire</button>
      <button type="button">Importer Données</button>
      <button type="button">Exporter Données</button>
      <div class="images">
        <img src="../assets/images/background.jpg" alt="Mali Météo">
      </div>
  </div>
    <footer>
      <app-footer></app-footer>
    </footer>
</body>
</html>

