  <div class="header">
    <!-- Add your header content here -->
    <ul class="nav-menu">
      <li><a routerLink="/home">Accueil</a></li>
      <li>
        <a routerLink="/jour">Saisie</a>
        <!-- <ul class="sub-menu"> -->
          <!-- <li><a >Journalière</a></li>
          <li><a >Décaire</a></li>
          <li><a >Mensuelle</a></li> -->
        <!-- </ul> -->
      </li>
      <li>
        <a href="#">Traitement</a>
        <ul class="sub-menu">
          <li><a >Com_Verballe</a></li>
          <li><a >GTPA</a></li>

        </ul>
      </li>
      <li><a href="#">Station</a></li>
      <li><a href="#">Aide</a></li>
    </ul>
  </div>
