<div id="wrapper">
  <header>
    <app-header></app-header>
  </header>
</div>
<div class="content">
  <h2>Page d'accueil</h2>
  <p>Bienvenue sur l'application Sandji de Mali Meteo ! Cette application permet de faire la saisie et le traitement de
    données pluviométriques.</p>
  <button type="button" routerLink="/jour">Saisie Journalière</button>
  <button type="button">Importer Données</button>
  <button type="button">Exporter Données</button>
  <div class="images">
    <img src="../assets/images/background.jpg" alt="Mali Météo">
  </div>
</div>
<footer>
  <app-footer></app-footer>
</footer>
